$map-alert-width: 30%;
$reset-button-width: 5%;

.rsm-svg  {
    width: 100vw !important;
    height: 100vh  !important;
}

.map-alert {
    width: $map-alert-width;
    position: fixed;
    z-index: 999;
    left: 50%;
    margin-left: ($map-alert-width/2) * -1;
    margin-top: 1em;
}

.map-option { 
    width: inherit;
    position: fixed;
    bottom: 5em;
    pointer-events: none;
    text-align: right;

    & button {
        background-color: white;
        margin: 10px 0;
        border-radius: 10px;
        border: none;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
        pointer-events: all;
        text-align: center;
    }
}