.paragraph-container {
    overflow-x: hidden;
    margin-left: 3em;
}

.text-container {
    padding: 8em 0;
}

.text-body {
    text-align: justify;
    font-family: Times;
    font-size: 15pt;
    font-style: italic;
    color: #555 !important;
}