.card {
    height: inherit;
    padding: 1em;
    justify-content: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.card-title {
    text-align: center;
    margin: 0;
}