// @import '../../assets/topography-pattern.scss';

#Dashboard {
    height: 100vh;
    background-color:#d8e0e2;
    overflow: hidden;
    // background-image: $topography-pattern;
}

.filter-card {
    position: fixed;
    width: 100vw;
    margin: 1em;
    pointer-events: none;
    opacity: 0.4;
    transition: 0.2s;

    &:hover {
        opacity: 1;
    }

    & .card {
        pointer-events: all;
    }
}

.filter-container {
    font-size: 9pt;
}

.map-container {
    // padding: 1em;
    // padding-right: 0;
}