@import '../../assets/topography-pattern.scss';

#Dashboard {
    width: 100vw;
    height: 100vh;
}

.filter-card {
    position: fixed;
    width: inherit;
    margin: 1em;
    pointer-events: none;
    opacity: 0.4;
    transition: 0.2s;

    &:hover {
        opacity: 1;
    }

    & .card {
        pointer-events: all;
    }
}

.filter-container {
    font-size: 9pt;
}

.map-container {
    width: 100%;
    background-image: $topography-pattern;
}